#home {
    width: 100%;
    height: 90vh;
    display: flex;

    >section {
        width: 100%;

        >div {
            padding-top: 5rem;
            padding-left: 2rem;

            >#img2 {
                max-width: 45%;
                border-radius: 10px;
            }

            >#img3 {
                max-width: 35%;
                border-radius: 10px;
                margin-left: 3rem;
                padding-bottom: 10rem;
            }
        }
    }
}

#side-section {
    padding-right: 70px;

    >p {
        // margin-right: 5rem;
        margin-top: 7rem;
        font-size: 2rem;
    }

    >h1 {
        margin-top: 2rem;
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    >span {
        font-size: 1.2rem;
    }
    
    span > button {
        padding: 1.2rem 1.2rem;
        margin-left: 1.3rem;
        margin-top: -2rem;
        margin-bottom: 2rem;
        background-color: $color2_light;
        cursor: pointer;
        color: $color2;
        font-weight: 400;
        font-size: 0.9rem;
        border: none;
        border-radius: 10px;
        transition: all 0.2s;
        &:hover {
            background-color: $color2;
            color: white;
        }
    }

    > a{
        color: #1f5edd;
    }
    > a > span{
        padding: 1rem;
        color: #1f5edd;
        font-size: larger;
    }
}

